html {
    box-sizing: border-box;
    color: rgb(196, 190, 217)
}

*, *::before, *::after {
    box-sizing: inherit;
}

.width-wrap{
    max-width: 960px;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: none;
    margin-bottom: 3em;
    background-color: rgb(20, 0, 84);
}

hr{
    width:50vw;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 3px dotted rgba(16, 4, 56, 0.9);
}

dt::after{
    content: ":";
}

body{
    background-color: rgb(29, 4, 109);
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', sans-serif;
}

h1{
    background: linear-gradient(90deg, rgb(1, 83, 31) 0%, rgb(10, 168, 62) 52%, rgb(7, 223, 18) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

h2{
    color: rgb(50, 180, 93);
}

h3{
    color: rgb(48, 130, 75);
}

a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header a{
    color: rgb(0, 255, 153);
}

*::selection{
    background-color: rgb(144, 123, 212);
}

header {
    border-top: 4px solid rgba(0,0,0,0.1);
    margin-left: -2em;
    margin-right: -2em;
}

header nav{
    border-bottom: 1px dotted rgba(255,255,255,0.3);
    padding-left:2em;
    padding-right:2em;
}

header nav ul{
    margin:0;
    padding: 0;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a {
    border-top: 4px solid transparent;
    display: inline-block;
    vertical-align: top;
    padding: 1em 1em 0.5em 1em;  /* Top Right Bottom Left*/
    margin-top: -4px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header nav ul li a:hover{
    border-top: 4px solid rgb(0, 255, 153);
}

td{
    padding: 0.3em 1em;
    background-color: rgba(255,255,255,0.05);
}

th{
    padding: 0.3em 1em;
}

thead {
    background-color: rgba(255,255,255,0.2);
}

tfoot {
    background-color: rgba(255,255,255,0.2);
}

tbody th{
    background-color: rgba(255,255,255,0.2);
}

tbody tr:nth-of-type(even){
    background-color: rgba(255,255,255,0.15);
}

label{
    display:block;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
    display: inline;
}

button[type="submit"]{
    border: none;
    padding: 1em 3em;
    color:rgb(20, 0, 84);
    background-color: rgb(144, 123, 212);
}

input:invalid, select:invalid, textarea:invalid{
    background-color: rgb(255, 0, 0);
}

ol {
    list-style-type: upper-roman;
}

iframe {
    border-radius: 0 2em 0 2em;
    -webkit-border-radius: 0 2em 0 2em;
    -moz-border-radius: 0 2em 0 2em;
    -ms-border-radius: 0 2em 0 2em;
    -o-border-radius: 0 2em 0 2em;
}

.radio-list{
    padding: 0;
    list-style-type: none;
} 

.bio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    width: 100%;
}

.courses {
    grid-column: span 3;
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
}

.courses td, .courses th {
    border: 1px solid black;
    padding: 0.5em;
}

.courses caption {
    caption-side: bottom;
}

#making-a-table {
    display: grid;
    grid-column: span 3;
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
}

img {
    max-width: 100%;
}

.bio img {
    padding: 2%;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(255,255,255,0.3);
}

footer {
    font-size: 75%;
    text-align: center;
}

a[href="#top"]{
    text-shadow: 2px 2px 5px rgba(255,255,255, 0.5);
}

a[href="#top"]:hover{
    text-decoration: none;
}
